<div class="row">
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" target="_self" data-toggle="tab">Despacho</a></li>
                <li><a href="#tab_2" data-toggle="tab" target="_self">Recepción</a></li>
                <li><a href="#tab_3" data-toggle="tab" target="_self">Traslados</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div>
                        <div class="row">
                            <div class="col-md-10">
                                <div ui-grid="gridOptions" ui-grid-selection class="despachoGrid"></div>
                            </div>
                            <div class="col-md-2">
                                <div ui-grid="gridOptionsMobile" class="despachoGrid"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <div class="text-center">
                                <a class="btn btn-social-icon btn-recepcion"><i class="fa fa-plus"></i></a>
                                <a class="btn btn-social-icon btn-recepcion"><i class="fa fa-times"></i></a>
                                <a class="btn btn-social-icon btn-recepcion"><i class="fa fa-pencil-square-o"></i></a>
                                <a class="btn btn-social-icon btn-recepcion"><i class="fa fa-refresh"></i></a>
                                <a class="btn btn-social-icon btn-recepcion" ng-click="firstIncident()"><i class="fa fa-step-backward"></i></a>
                                <a class="btn btn-social-icon btn-recepcion" ng-click="beforeIncident()"><i class="fa fa-backward"></i></a>
                                <a class="btn btn-social-icon btn-recepcion" ng-click="nextIncident()"><i class="fa fa-step-forward"></i></a>
                                <a class="btn btn-social-icon btn-recepcion" ng-click="lastIncident()"><i class="fa fa-forward"></i></a>
                                <a class="btn btn-social-icon btn-recepcion"><i class="fa fa-users"></i></a>
                                <a class="btn btn-social-icon btn-recepcion"><i class="fa fa-print"></i></a>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control input-sm" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Nro. de incidente" ng-model="incident.NroIncidente" />
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Telefono"  />
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Cliente" ng-model="incident.Cliente" />
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Nro. Afiliado" />
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Aviso" ng-model="incident.Aviso" />
                                </div>
                            </div>
                            <div class="row voffset2">
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Localidad" ng-model="incident.Localidad" />
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control input-sm" type="text" placeholder="Descripcion Localidad" />
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control input-sm" type="text" placeholder="Partido" />
                                </div>
                            </div>
                            <div class="row voffset2">
                                <div class="col-md-6">
                                    <input class="form-control input-sm" type="text" placeholder="Calle" />
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Altura" />
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Piso" />
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Departamento" />
                                </div>
                            </div>
                            <div class="row voffset2">
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Entre calle 1" />
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control input-sm" type="text" placeholder="Entre calle 2" />
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control input-sm" type="text" placeholder="Referencias" ng-model="incident.dmReferencia" />
                                </div>
                            </div>
                            <div class="row voffset2">
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Sexo" ng-model="incident.Sexo" />
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Edad" ng-model="incident.Edad" />
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control input-sm" type="text" placeholder="Motivo de llamada - Sintomas" ng-model="incident.Sintomas" />
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control input-sm">
                                        <option>option 1</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row voffset2">
                                <div class="col-md-6">
                                    <input class="form-control input-sm" type="text" placeholder="Paciente" ng-model="incident.Paciente" />
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control input-sm">
                                        <option>option 1</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text" placeholder="Copago" />
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control input-sm">
                                        <option>option 1</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- /.tab-pane -->
                <div class="tab-pane" id="tab_3">
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-success boxNoMargin">
            <div class="box-header with-border">
                <h3 class="box-title">Distribución de Servicios</h3>
            </div>
            <div class="box-body">
                <canvas id="doughnut" class="chart chart-doughnut" data="dataChartQuantity" labels="labelsChartQuantity" height="55px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-success boxNoMargin">
            <div class="box-header with-border">
                <h3 class="box-title">Tiempos Operativos</h3>
            </div>
            <div class="box-body">
                <canvas id="line" class="chart chart-line" data="dataChartTimes" labels="labelsChartTimes" legend="true" height="33px"></canvas>
            </div>
        </div>
    </div>
</div>
