<div class="row">
  <div class="col-md-12">
    <!-- Custom Tabs -->
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="" data-toggle="tab">Despacho</a></li>
        <li><a href="" data-toggle="tab">Recepción</a></li>
        <li><a href="#tab_3" data-toggle="tab">Traslados</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
          <div ng-controller="OperativePanelCtrl">
            <div class="row">
              <div class="col-md-8">
                <div ui-grid="gridOptions" ui-grid-selection class="despachoGrid"></div>
              </div>

              <div class="col-md-4">
                <div ui-grid="gridOptions" ui-grid-selection class="despachoGrid"></div>
              </div>

            </div>

  		</div>
        </div><!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
        </div><!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
        </div><!-- /.tab-pane -->
      </div><!-- /.tab-content -->
    </div><!-- nav-tabs-custom -->
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="box box-success boxNoMargin">
      <div class="box-header with-border">
        <h3 class="box-title">Distribución de Servicios</h3>
      </div>
      <div class="box-body">
        <canvas id="doughnut" class="chart chart-doughnut" data="data3" labels="labels3" height="55px"></canvas> 
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-success boxNoMargin">
      <div class="box-header with-border">
        <h3 class="box-title">Tiempos Operativos</h3>
      </div>
      <div class="box-body">
        <canvas id="line" class="chart chart-line" data="data2" labels="labels" legend="true" series="series" height="33px"></canvas> 
      </div>
    </div>
  </div>

</div>

