.despachoGrid {
  width: 100%px;
  height: 418px;
}

/*  CUSTOM CSS STARTS HERE */
.despachoGrid .ui-grid-cell-contents {
  padding: 1px 1px;
}

.despachoGrid .ui-grid-render-container-body .ui-grid-header-cell,
.despachoGrid .ui-grid-render-container-left .ui-grid-header-cell,
.despachoGrid .ui-grid-row,
.despachoGrid .ui-grid-cell,
.despachoGrid .ui-grid-cell .ui-grid-vertical-bar {
  rowHeight: 22;
  font-size: 12px;
  line-height: 20px;
}
.despachoGrid .ui-grid-render-container-body .ui-grid-header-cell,
.despachoGrid .ui-grid-render-container-left .ui-grid-header-cell,
.despachoGrid .ui-grid-header-cell {
  height: 25px !important;
}
.despachoGrid .ui-grid-filter-container {
  padding: 1px 3px;
}

.boxNoMargin {
	margin-bottom: 0px;
}